.title {
    font-family: Helvetica;
    font-size: 40px;
}

.listitem {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

.recipe {
    font-family: Helvetica;
    color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
}

.button {
    width: 300px;
    border: none;
    border-radius: 25px;
    background: #0BBF7D;
    padding: 50px;
    margin: 20px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button:hover {
    background-color: #147350;
    color:#F2F2F2;
}